@media (max-width: 1400px) {
    .promo {
        .header {
            &__official {
                span {
                    font-size: 15px;
                }
            }
            &__contacts {
                a {
                    font-size: 16px;
                }
            }
        }
        .promo__header {
            font-size: 37px;
        }
        .promo__subheader {
            font-size: 20px;
        }
    }
    .benefits {
        .title {
            font-size: 25px;
        }
    }
    .consultation {
        h2 {
            font-size: 28px;
        }
    }
}
/* @media (max-width: 1199px)

@media (max-width: 991px)

@media (max-width: 767px)

@media (max-width: 575px) */
